<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE document SYSTEM "http://www.w3.org/2001/XMLSchema">
<document xmlns="http://symfony.com/schema/dic/twig">
    <id>{{ document.id }}</id>
    <doi>{{ document.doi }}</doi>
    <title>{{ document.title }}</title>
    <summary>{{ document.summary }}</summary>
</document>