<?xml version="1.0" encoding="UTF-8" ?>

<document>
    <id>{{ document.id }}</id>
    <doi>{{ document.doi }}</doi>
    <title>{{ document.title }}</title>
    <summary>{{ document.summary }}</summary>
</document>